<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>数字历史馆-登陆</title>
    <!--bootstrap-->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>

    <!--maple-->
    <link href="css/style.css" rel="stylesheet" />

    <!--引入jquery-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!--bootstrap-->
    <script src="js/bootstrap.min.js"></script>
</head>
<body class="page-login rounded">
<a class="pl-logo"><img src="images/biglogo.png" width="221px"  /></a>
<div class="pl-form">
    <form action="/login" method="post">
        <div class="pl-form-inner"  >
            <div class="pl-input"  >
                <input type="text" name="account" class="userinfo" placeholder="用户名"   />
                <input type="password" name="password"  class="userinfo"  placeholder="密码"   />
                <input class="pl-button" type="submit"  value="登录"   />
                <i class="pl-input-people"></i>
                <p><a href="#"  >忘记密码</a></p>

                <i class="pl-input-pass"></i>
                <p align="right">还没账号，<a href="#" class="red"  > 请注册</a></p>
                <p id="msg" style="color: red;" th:text="${error}"></p>
            </div>
        </div>
    </form>
</div>
</body>
</html>